/* Normal flow */


/* body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}

h1 {
    background-color: #efefef;
    padding: 10px;
}

p {
    width: 450px;
} */


/*Relative Positioning */

/* p{
    position: relative;
    top: 10px;
    left: 100px;
} */



/* position absolute */

/* h1 {
    position: absolute;
    top: 0px;
    left: 500px;
    width: 250px;
}

p {
    width: 450px;
} */


/* Fixed position */


/* h1 {
    position: fixed;
    top: 0px;
    left: 50px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #efefef;
}

p {
    margin-top: 100px;
} */



/* Z- index */
/* h1 {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    background-color: #efefef;
    z-index: 10;
}

p {
    position: relative;
    top: 70px;
    left: 70px;
} */


/* Floating */

/* blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
} */


/* float */
/* body {
    width: 750px;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
}

p {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;
} */



/* clear */
/* p {
    width: 230px;
    float: left;
    margin: 5px;
    padding: 5px;
    background-color: #efefef;}
    .clear {
    clear: left;} */


/* floating problem */

/* div {
    border: 1px solid #665544;

} */



/* floating solution */

/* div {
    border: 1px solid #665544;
    overflow: auto;
    width: 100%;
} */



/* floating column */
/* .column1of2 {
    float: left;
    width: 620px;
    margin: 10px;
}

.column2of2 {
    float: left;
    width: 300px;
    margin: 10px;
} */
